<p>
  <b>Url:</b>
  <%=h @banner.url %>
</p>

<p>
  <b>Image:</b>
  <%=h @banner.image %>
</p>

<p>
  <b>Published:</b>
  <%=h @banner.published %>
</p>


<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>