<div class="menu">
	<div class="heading">
		Živjo, admin
	</div>
	<p>S tem statusom imas dostop do:</p>
	<ul class="list">
		<li><%= link_to 'Seznam bannerjev', banners_path %></li>
		<li><%= link_to 'Seznam piscev', writers_path %></li>
		<li><%= link_to 'Seznam člankov', articles_path %></li>
		<li><%= link_to 'Seznam virov od clankov', sources_path %></li>
		<li><%= link_to 'Seznam kategorij', categories_path %></li>
		<li><%= link_to 'Seznam administratorjev', users_path %></li>
		<li><%= link_to 'Odjava', odjava_path %></li>
	</ul>
</div>