<div id="footer">
	<div id="footerlinks">
		<ul>
			<li><%= link_to "Domov", root_path %></li>
			<li><%= link_to "Oglaševanje", 'mailto:info@jabolko.org?Subject=Želim oglaševati na Jabolko.org' %></li>
			<li><%= link_to "O nas", o_nas_path %></li>
			<li><%= link_to "Kontakt", 'mailto:info@jabolko.org' %></li>
			<li><%= link_to "Sodeluj", sodeluj_path %></li>
			<li><%= link_to "Facebook", 'http://www.facebook.com/group.php?gid=15631334625' %></li>
			<li><%= link_to "Twitter", 'http://twitter.com/jabolkoorg' %></li>
			<li><%= link_to "Pravno obvestilo", pravno_obvestilo_path %></li>
			<li class="last"><%= link_to "RSS", 'http://feeds.feedburner.com/jabolkoorg-sok' %></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div id="disclaimer">
		<div id="minilogo">
			<%= image_tag 'jabolkomini.png' %>
		</div>
		Uporaba informacij, ki so v lasti Jabolko.org je dovoljena le za nekomercialne namene z navedbo vira in avtorja. Društvo Apple uporabnikov Slovenije Jabolko.org ni avtorizirano, sponzorirano ali priznano s strani Apple Inc. Vsi logotipi in blagovne znamke na tej strani so v lasti njihovih spoštljivih lastnikov. Vse pravice pridržane © 2009 - 2010 Jabolko.org
	</div>
</div>