<div id="infoboxbg">
	<div id="infobox">
		<div class="left">
			<h3>Mac</h3>
			<ul>
				<%= li_link_to "Kakšen Mac je primeren zame?", 'http://www.apple.com/getamac/whichmac/' %>
				<%= li_link_to "Zakaj se boste zaljubili v Mac-a?", '/blog/35-zakaj-se-boste-zaljubili-v-Maca', '_self' %>
				<%= li_link_to "Pogosta vprašanja o Macu?", 'http://www.apple.com/getamac/faq/' %>
				<%= li_link_to "TV reklame", 'http://www.apple.com/getamac/ads/' %>
			</ul>
			<h3>iPhone</h3>
			<ul>
				<%= li_link_to "Zakaj ga boš vzljubil?", "http://www.apple.com/iphone/why-iphone/" %>
				<%= li_link_to "Poslovne lastnosti", "http://www.apple.com/iphone/business/apps-for-iphone/" %>
				<%= li_link_to "Kakšne aplikacije lahko uporabljam na iPhonu?", "http://www.apple.com/iphone/why-iphone/" %>
				<%= li_link_to "Integracija", "http://www.apple.com/iphone/business/integration/" %>
			</ul>
		</div>
		<div class="right">
			<h3>Programska oprema</h3>
			<div class="links">
				<ul class="firstcol">
					<%= li_link_to "Mac OS X Snow Leoard", "http://www.apple.com/macosx/" %>
					<%= li_link_to "Safari 4", "http://www.apple.com/safari/" %>
					<%= li_link_to "iLife 09", "http://www.apple.com/ilife/" %>
					<%= li_link_to "iWork 09", "http://www.apple.com/iwork/" %>
					<%= li_link_to "MobileMe", "http://www.apple.com/mobileme/" %>
					<%= li_link_to "Logic Studio", "http://www.apple.com/logicstudio/" %>
					<%= li_link_to "Aperture 3", "http://www.apple.com/aperture/" %>
					<%= li_link_to "QuickTime Pro", "http://www.apple.com/quicktime/" %>
					<%= li_link_to "Final Cut Studio", "http://www.apple.com/finalcutstudio/" %>
					<%= li_link_to "Apple Remote Desktop", "http://www.apple.com/remotedesktop/" %>
					<%= li_link_to "Xsan", "http://www.apple.com/xsan/" %>
				</ul>
				<ul class="secondcol">
					<%= li_link_to "Adobe CS5", "http://www.adobe.com/products/creativesuite/?promoid=DNOWM" %>
					<%= li_link_to "Microsoft Office for Mac", "http://www.microsoft.com/mac/default.mspx" %>
					<%= li_link_to "Firefox", "http://www.mozilla.com/en-US/firefox/personal.html" %>
					<%= li_link_to "Skype", "http://www.skype.com/intl/en/download/skype/macosx/" %>
					<%= li_link_to "Toast 10", "http://www.roxio.com/enu/products/toast/titanium/overview.html" %>
					<%= li_link_to "Cinema 4D", "http://www.maxon.net/en/home.html" %>
					<%= li_link_to "CSSedit", "http://www.macrabbit.com/cssedit/" %>
					<%= li_link_to "Gimp", "http://www.gimp.org/macintosh/" %>
					<%= li_link_to "VLC", "http://www.videolan.org/vlc/download-macosx.html" %>
					<%= li_link_to "Blender", "http://www.blender.org/education-help/faq/mac-os-x/" %>
					<%= li_link_to "Suitcase Fusion 3", "http://www.extensis.com/en/products/suitcasefusion3/overview.jsp" %>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>